.textbox{width:200px;height:20px;border:solid 1px #e5e5e5;background:url(../images/textbox_bg.png) repeat-x;margin:0;padding:4px 0 0 4px;color:#5a5a5a}

select{width:auto;height:26px;border:solid 1px #e5e5e5;background:url(../images/textbox_bg.png) repeat-x;margin:0;color:#5a5a5a;padding:2px;min-width:100px;}

.btn_addnew{width:102px;height:26px;background:url(../images/btn_addnew.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_addmore{width:102px;height:26px;background:url(../images/btn_addmore.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_edit{width:102px;height:26px;background:url(../images/btn_edit.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_delete{width:102px;height:26px;background:url(../images/btn_delete.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_checkall{width:102px;height:26px;background:url(../images/btn_checkall.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_uncheck{width:102px;height:26px;background:url(../images/btn_uncheck.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_publish{width:102px;height:26px;background:url(../images/btn_publish.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_unpublish{width:102px;height:26px;background:url(../images/btn_unpublish.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_reset{width:102px;height:26px;background:url(../images/btn_reset.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_cancel{width:102px;height:26px;background:url(../images/btn_cancel.png) no-repeat;border:0;float:right;margin-left:8px;}

.btn_smallenter{width:36px;height:26px;background:url(../images/btn_smallenter.png) no-repeat;border:0;margin-left:5px;float:right;}
.btn_smallreset{width:36px;height:26px;background:url(../images/btn_smallreset.png) no-repeat;border:0;margin-left:5px;float:right;}
.btn_smalladd{width:36px;height:26px;background:url(../images/btn_smalladd.png) no-repeat;border:0;margin-left:5px;float:right;}




.btn_addnew:hover, .btn_checkall:hover, .btn_uncheck:hover, .btn_publish:hover, .btn_unpublish:hover, .btn_delete:hover, .btn_edit:hover, .btn_smallenter:hover, .btn_smallreset:hover, .btn_reset:hover, .btn_cancel:hover, .btn_addmore:hover, .btn_smalladd:hover
{background-position:center -26px;cursor:pointer}

#calendar_box table{}
#calendar_box table td{padding:2px;float:left;text-align:center;}

.btn_refresh{height:16px;width:16px;background:url(../images/btn_refresh.png) no-repeat;border:none;margin:2px 0 0 2px;}
.btn_smalldelete{height:16px;width:16px;background:url(../images/btn_delete_2.png) no-repeat;border:none;margin:2px 0 0 0;}
.btn_refresh:hover, .btn_smalldelete:hover{cursor:pointer;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;cursor:pointer;}