.btn_addnew{width:102px;height:26px;background:url(../images/btn_addnew.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_edit{width:102px;height:26px;background:url(../images/btn_edit.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_delete{width:102px;height:26px;background:url(../images/btn_delete.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_checkall{width:102px;height:26px;background:url(../images/btn_checkall.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_uncheck{width:102px;height:26px;background:url(../images/btn_uncheck.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_publish{width:102px;height:26px;background:url(../images/btn_publish.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_unpublish{width:102px;height:26px;background:url(../images/btn_unpublish.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_reset{width:102px;height:26px;background:url(../images/btn_reset.png) no-repeat;border:0;float:right;margin-left:8px;}

.btn_smallenter{width:36px;height:26px;background:url(../images/btn_smallenter.png) no-repeat;border:0;margin-left:5px;}
.btn_smallreset{width:36px;height:26px;background:url(../images/btn_smallreset.png) no-repeat;border:0;margin-left:5px;}




.btn_addnew:hover, .btn_checkall:hover, .btn_uncheck:hover, .btn_publish:hover, .btn_unpublish:hover, .btn_delete:hover, .btn_edit:hover, .btn_smallenter:hover, .btn_smallreset:hover, .btn_reset:hover
{background-position:center -26px;cursor:pointer}

#calendar_box table{}
#calendar_box table td{padding:2px;float:left;text-align:center;}
