.btn_addnew{width:102px;height:26px;background:url(../images/btn_addnew.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_edit{width:102px;height:26px;background:url(../images/btn_edit.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_delete{width:102px;height:26px;background:url(../images/btn_delete.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_checkall{width:102px;height:26px;background:url(../images/btn_checkall.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_uncheck{width:102px;height:26px;background:url(../images/btn_uncheck.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_publish{width:102px;height:26px;background:url(../images/btn_publish.png) no-repeat;border:0;float:right;margin-left:8px;}
.btn_unpublish{width:102px;height:26px;background:url(../images/btn_unpublish.png) no-repeat;border:0;float:right;margin-left:8px;}




.btn_addnew:hover, .btn_checkall:hover, .btn_uncheck:hover, .btn_publish:hover, .btn_unpublish:hover, .btn_delete:hover, .btn_edit:hover
{background-position:center -26px;cursor:pointer}
