.hiding_footer{display:none;}
.table_header, .table_footer{height:40px;background:#f1efef;color:#5a5a5a;padding:0 5px 0 5px;}
.table_footer{height:33px;padding-top:7px;}
	.table_header a{color:#5a5a5a;}
	.table_header a:hover{color:#7a7a7a}
.table_topcontrol{height:40px;background:#ffffff;color:#5a5a5a;padding:10px 5px 0 5px;border-bottom:solid 1px #cdcdcd;}
	
.table_field1{padding:5px;background:#f8f8f8}
.table_field2{padding:5px;background:#fafafa}
	.table_field1 td, .table_field2 td{color:#5a5a5a;padding:2px 10px 2px 10px;text-align:center;}
	.table_field1:hover, .table_field2:hover{background:#eff7ff;}
	.table_field1 td a, .table_field2 td a{display:block;height:100%;text-align:left;padding:6px 0 6px 0;color:#5a5a5a}
	.table_field1 td a:hover, .table_field2 td a:hover{color:#006cc5;}
.align_left{text-align:left;padding:0 0 0 10px;}
.align_center{text-align:center;}

.table_paging{width:auto;height:24px;text-align:center;margin-top:2px;}
	.table_paging a{margin:0 5px 0 5px;color:#006cc5;font-weight:bold;text-transform:capitalize;display:block;width:26px;height:19px;float:left;background:url(../images/lnk_bg.png) no-repeat;padding:5px 0 0 0;font-size:11px;}
	.table_paging a:hover{color:#fff;background-position:center -24px;}
	.table_paging a.active{color:#fff;background-position:center -24px;}
	.table_paging a.text{float:left;width:auto;height:19px;background:none;font-size:12px;}
	.table_paging a.text:hover{color:#004C8A;}