.hiding_footer{display:none;}
.table_header, .table_footer{height:40px;background:#eeeeee;color:#5a5a5a;padding:0 5px 0 5px;}
.table_field1{padding:5px;background:#f8f8f8}
.table_field2{padding:5px;background:#fafafa}
	.table_field1 td, .table_field2 td{color:#5a5a5a;text-align:center;}
	.table_field1 td:hover, .table_field2 td:hover{background:#fdfdfd;}
	.table_field1 td a, .table_field2 td a{display:block;height:100%;text-align:left;padding:6px 10px 6px 10px;color:#5a5a5a}
	.table_field1 td a:hover, .table_field2 td a:hover{color:#006cc5;}
.align_left{text-align:left;padding:0 0 0 10px;}