#container{width:100%;height:100%;margin:0 auto;float:left;display:table;}

#container .left_col{width:200px;height:100%;background:#2e2e2e;padding:20px 0 20px 0;text-align:left;vertical-align:top;}
	#container .left_col .box{width:200px;height:auto;float:left;margin-bottom:30px;}
	#container .left_col .box .title{width:190px;height:36px;float:left;}
		#container .left_col .box .title .title_bg{width:180px;height:36px;background:url(../images/left_title_bg.png) repeat-x;float:left;}
		#container .left_col .box .title .title_bg h2{font-weight:bold;text-transform:uppercase;color:#fff;padding:10px 0 0 20px;font-size:12px;float:left;}
		#container .left_col .box .title .title_border{width:10px;height:36px;background:url(../images/left_title_border.png) repeat-x;float:left;}
	#container .left_col .box .content{height:auto;padding:10px;color:#cdcdcd;float:left}
	#container .left_col .box .nopadding{padding:0;}
	#container .left_col .box .content #sidebar_menu{float:left;width:200px;margin:0;padding:0;list-style-type:none;}
		#sidebar_menu li{width:200px;height:auto;margin:0;padding:0;float:left;border-bottom:dashed 1px #414141;}
		#sidebar_menu li a{display:block;padding:8px 0 8px 20px;color:#cdcdcd;font-weight:bold;}
		#sidebar_menu li a:hover{color:#fff;background:#212121;}
		

#container .main_col{width:100%;padding:20px;vertical-align:top;background:#fbfbfb}
	#container .main_col .main_box{width:100%;float:left;margin-bottom:20px;}
	#container .main_col .main_box .title{padding-left:6px;background:url(../images/mainbox_title_left.png) no-repeat;}
	#container .main_col .main_box .title div{background:url(../images/mainbox_title_right.png) no-repeat top right;padding-right:6px;}
	#container .main_col .main_box .title div div{background:url(../images/mainbox_title_center.png) repeat-x;padding:0;height:40px;}
	#container .main_col .main_box .title div div h2{float:left;font:normal 16px "Trebuchet MS";text-transform:uppercase;color:#309f26;margin:8px 0 0 10px;}
	
	#container .main_col .main_box .content{border-top:none;background:#fff;border:solid 1px #cdcdcd;border-top:none;padding:10px;}
	#container .main_col .main_box .nopadding{padding:0;}
	
/*General Form*/
#container .main_col .main_box .content table.form td{height:auto;padding-bottom:10px;}
#container .main_col .main_box .content .field{height:36px;border-bottom:dotted 1px #c2c2c2;margin-bottom:10px;}
	#container .main_col .main_box .content .field .text{float:left;text-transform:capitalize;font-size:13px;width:180px;padding:5px;}
	#container .main_col .main_box .content .field .control{float:left;width:auto;}
	
	
	
		
	