* { margin: 0px; padding: 0px; border: 0px;}
body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #2c743b;margin:0 auto;}
#contaner { width: 1000px; margin-right: auto; margin-left: auto;}
a, input {outline:none;}

/* NAVIGATION
---------------------------------------------------------------*/
#nav { width: 1000px; float: left; margin-top:10px;}
	#nav ul { list-style-type: none; display: block; margin-right: auto; margin-left: auto; width: 560px;}
	#nav ul li { display: block; float: left; padding-right: 22px; padding-left: 22px;}
	#nav ul li a { text-decoration: none; text-transform: uppercase; font-weight: bold; font-size: 14px; color: #9fce5a; font-family: Arial, Helvetica, sans-serif;}
	#nav ul li a:hover { color: #286F37;}

/* CONTENT
---------------------------------------------------------------*/
#content { margin-top: 45px; width: 1000px; float: left;}
#leftcol { float: left; width: 520px; margin-right: 60px; overflow: hidden;}
#rightcol { float: left; width: 420px; }
	#rightcol p { line-height: 20px; display: block; margin-top: 15px;}
	div.bigtext { background: url(../images/text.png) no-repeat; height: 90px; width: 420px; border-bottom: 4px solid #8fc741;}
	a.shopnow {display: block; height: 73px; width: 208px; margin: 2px auto 0 auto;background:url(../images/btn_shopnow.png) no-repeat;}
	a.shopnow:hover {background-position:center -73px;cursor:pointer;}
	div.smalltext { background: url(../images/text2.png) no-repeat; height: 26px; width: 420px; margin-top: 25px;}
	ul#steps { display: block; list-style-type: decimal; list-style-position: inside; margin: 2px 0 2px 0; background: url(../images/van.png) no-repeat right bottom; padding-bottom: 100px;}
	ul#steps li{ margin-top: 11px; margin-bottom: 11px;}
	ul#steps li.none { list-style-type: none;}

/* FOOTER
---------------------------------------------------------------*/
#footer { width: 1000px; text-align: center; margin:50px 0 20px 0; float: left;}
	#footer a { color: #2c743b; text-decoration: none;}
	#footer a:hover { color: #3E9D52;}
	
/* SlIDESHOW
---------------------------------------------------------------*/
#slideshow_container{float:left;position:relative;}
	#slideshow{margin-top:8px;z-index:99;}
	#slideshow .ss_content{width:460px;height:360px;background:url(../images/ss_bg.png) no-repeat;padding:30px;}
		#slideshow .ss_content div{margin-bottom:10px;font-size:18px;color:#2c743b;z-index:100;}
		#slideshow .ss_content .btn_morewhyorganic{display:block;height:52px;width:220px;background:url(../images/ss_btn_morewhyorganic.png) no-repeat;}
		#slideshow .ss_content .btn_morewhyorganic:hover{background-position:center -52px;}
		#slideshow .ss_content .btn_order{color:#fff;}
		#slideshow .ss_content .btn_order:hover{color:#f2f2f2;}
	#slideshow .img{float:left;border:solid 2px #2c743b;padding:1px;margin:5px 10px 0 0;}
#slideshow_container .navigation{position:absolute;bottom:0;right:0;margin:0 10px 5px 0;z-index:101;}
	#slideshow_container .navigation a{display:block;margin:0 4px 0 4px;background:url(../images/ss_btn_link.png) no-repeat;height:20px;width:24px;text-decoration:underline;text-align:center;color:#fff;padding-top:4px;float:left;font-weight:bold;font-size:11px;}
	#slideshow_container .navigation a:hover{background-position:center -24px;color:#2d7d3e;}
	#slideshow_container .navigation a.active{background-position:center -24px;color:#2d7d3e;}
