/*Main column*/
	.main_col .inside_box{float:left;width:544px;height:auto;text-align:left;margin-bottom:20px;}
	.main_col .inside_box .img{float:left;width:180px;border:solid 1px #ececec;padding:1px;margin:3px 10px 0 0;width:200px;}
	
	.main_col .inside_box table{border:solid 1px #dadada;}
	.main_col .inside_box table tr.noborder{border:solid 1px #dadada;border-width:0 1px 0 1px;width:50%}
	.main_col .inside_box table tr.noborder td{border:none;}
	.main_col .inside_box table td{border:solid 1px #dadada;}
	.main_col .inside_box table .table_title{text-transform:uppercase;color:#fff;background:#7aa825;padding:5px;font-size:12px;width:50%}
	.main_col .inside_box table .left{text-align:right;padding-right:20px;width:35%;text-transform:capitalize;vertical-align:middle;}
	.main_col .inside_box table .left span{color:red;font-weight:bold;}
	.main_col .inside_box table .right{vertical-align:middle;width:65%;font-size:11px;}
	.main_col .inside_box table .right .frm_textbox{width:180px;float:none;}
	.main_col .inside_box table .right .button{margin-right:5px;}
	
	.main_col .inside_box div{margin-bottom:15px;line-height:20px;}
	.main_col .inside_box div div{margin-bottom:5px;line-height:20px;}
	
	.main_col .inside_box div ol{list-style-type:upper-roman;}
	.main_col .inside_box div ol ol{list-style-type:decimal;margin-bottom:10px;font-weight:bold;}
	.main_col .inside_box div ol ol ul{list-style-type:lower-latin;margin-bottom:10px;font-weight:normal;}
	.main_col .inside_box h2{text-transform:capitalize;font-weight:normal;font-size:20px;margin-bottom:10px;color:#7aa825;border-bottom:solid 1px #e2e2bc;padding:0 0 10px 0;}
	.main_col .inside_box h3{text-transform:capitalize;font-weight:normal;font-size:16px;margin-bottom:5px;color:#7aa825;}
	
	.main_col .inside_box div.datepicker div{margin:inherit;padding:inherit;}
	.main_col .inside_box .product_desc p{text-transform:inherit;}
	.main_col .inside_box .product_desc h2, .main_col .inside_box .product_desc h3{font-size:14px;color:#503a1d;font-weight:normal;padding:0;border:none;margin:0;}
	
/*Main column: END*/
#container .main_content .main_col .error{float:left;width:544px;height:auto;text-align:left;margin-bottom:10px;background:white;color:red;padding:5px 10px 5px 10px;}
#container .main_content .main_col .notice{float:left;width:544px;height:auto;text-align:left;margin-bottom:10px;background:#fffbcc;color:#676455;padding:5px 10px 5px 10px;}
#container .main_content .main_col .category-path{float:left;width:544px;height:auto;text-align:left;margin-bottom:10px;background:#f6ffdb;color:#676455;padding:7px 10px 5px 10px;}

/*Shop by Brand*/
#brand_container{{float:left;width:544px;height:auto;text-align:left;margin:0;}}
	#brand_container ul{margin:0;padding:0;width:544px;float:left;line-height:16px;}
	#brand_container ul li{width:160px;float:left;display:block;padding:5px 10px 5px 10px;text-align:center;height:40px;margin:0 0 10px 0;}
	#brand_container ul li a{text-transform:capitalize;font-size:11px;font-weight:bold;}
	

	
	
	
	
		
	