#container .main_content{width:940px;height:auto;padding:10px;float:left;background:#fff;}

#container .main_content .left_col{float:left;width:178px;height:auto;}
#container .main_content .right_col{float:left;width:178px;height:auto;}

.left_col ul{width:178px;height:auto;margin:0;padding:0;list-style-type:none;text-align:left;margin:0 0 20px 0;background:#e2e2bc url(../images/left_col_top.png) no-repeat;}
	.left_col ul li{width:auto;height:auto;margin:0;padding:0;border-bottom:solid 1px #fff;}
	.left_col ul li a{font:normal 14px Arial;text-transform:capitalize;display:block;padding:10px 0 10px 20px;color:#503a1d;}
	.left_col ul li a:hover{color:#8f6936;background:#eaeac4}
	.left_col ul li.title{background:#fff url(../images/leftmn_title.png) no-repeat top right;color:#749f24;padding:10px 0 10px 20px;font-size:14px;}

.left_col .box, .right_col .box{float:left;width:178px;height:auto;margin:0 0 20px 0;}
	.box h2{background:#e2e2bc url(../images/left_col_top.png) no-repeat;width:158px;text-align:left;float:left;padding:10px 0 10px 20px;font-size:14px;}
	.box .content{padding:8px 4px 0 4px;text-align:left;float:left;width:170px;}
	
	.box .cart_title{width:178px;height:50px;float:left;background:url(../images/cart_title.png) no-repeat;margin:-20px 0 0 0;}
	.box .cart_title h2{width:158px;text-align:left;float:left;padding:27px 0 10px 20px;font-size:14px;background:none;}
	
	.shoppingcart_box{float:left;width:178px;height:auto;margin:0 0 20px 0;padding:10px 0 10px 0;text-align:center;border:solid #503a1d;border-width:1px 0 1px 0;}
	
/*Main column*/
#container .main_content .main_col{float:left;width:524px;height:auto;background:#fbfbfb;margin:0 10px 0 10px;padding:20px;}
	.main_col .product_box{float:left;width:524px;height:auto;text-align:left;padding:0 0 20px 0;border-bottom:solid 1px #503a1d;margin-bottom:20px;}
	.main_col .product_box img{float:left;max-width:124px;max-height:124px;margin:0 20px 0 0;border:solid 1px #e9e9e9}
	.main_col .product_box .title{float:left;width:378px;}
	.main_col .product_box .title h2{float:left;font-weight:bold;font-size:13px;width:auto;}
	.main_col .product_box .title .price{float:right;font-weight:bold;font-size:13px;color:#749f24;}
	.main_col .product_box .content{float:left;width:378px;margin:10px 0 0 0;line-height:18px;}
	.main_col .product_box .content div{margin:0 0 5px 0;}
	
/*Main column: END*/

	


