#container .main_content{width:940px;height:auto;padding:10px;float:left;background:#fff;}

#container .main_content .left_col{float:left;width:178px;height:auto;}
#container .main_content .right_col{float:left;width:178px;height:auto;}

#left_category{width:178px;height:auto;margin:0;padding:0;list-style-type:none;text-align:left;margin:0 0 20px 0;background:#e2e2bc url(../images/left_col_top.png) no-repeat;}
	#left_category li{width:auto;height:auto;margin:0;padding:0;border-bottom:solid 1px #fff;word-wrap: break-word}
	#left_category li b{font:bold 14px Arial;text-transform:capitalize;display:block;padding:10px 5px 10px 15px;color:#503a1d;}
	#left_category li a{font:normal 13px Arial;text-transform:capitalize;display:block;padding:10px 5px 10px 15px;color:#503a1d;}
	#left_category li a:hover{color:#8f6936;background:#eaeac4}
	#left_category li a.active{font:normal 14px Arial;text-transform:capitalize;display:block;padding:10px 0 10px 20px;color:#749f24;background:#eaeac4}
	#left_category li.title{background:#fff url(../images/leftmn_title.png) no-repeat top right;color:#749f24;padding:10px 5px 10px 15px;font-size:14px;}
	
	#left_category li ul{margin:-37px 0 0 178px;padding:0;position:absolute;visibility:hidden;border-top:1px solid white;border:solid 1px #fff;background:#e2e2bc;width:178px;list-style-type:none;}
		#left_category li ul li{width:auto;height:auto;margin:0;padding:0;border-bottom:solid 1px #fff;}
			#left_category li ul li a, #left_category li ul li a:visited{font:normal 13px Arial;text-transform:capitalize;display:block;padding:10px 0 10px 20px;color:#503a1d;}
			#left_category li ul li a:hover{color:#8f6936;background:#eaeac4;cursor:pointer;}
			#left_category li ul li a.active{font:bold 13px Arial;text-transform:capitalize;display:block;padding:10px 0 10px 20px;color:#749f24;background:#eaeac4;}

.left_col .box, .right_col .box{float:left;width:178px;height:auto;margin:0 0 20px 0;}
	.box h2{background:#e2e2bc url(../images/left_col_top.png) no-repeat;width:158px;text-align:left;float:left;padding:10px 0 10px 20px;font-size:14px;font-weight:bold;}
	.box .content{padding:8px 4px 0 4px;text-align:left;float:left;width:170px;}	
	
	.box .cart_title{width:178px;height:50px;float:left;background:url(../images/cart_title.png) no-repeat;margin:0;}
	.box .cart_title h2{width:168px;text-align:left;float:left;padding:27px 0 10px 10px;font-size:14px;background:none;}
	
	.shoppingcart_box{float:left;width:178px;height:auto;margin:5px 0 20px 0;padding:0 0 10px 0;text-align:center;border:solid #afac28;border-width:0 0 1px 0;}
		.shoppingcart_box .top{width:178px;height:6px;float:left;background:url(../images/ajaxcart_top.png) no-repeat;}
		.shoppingcart_box .bot{width:178px;height:6px;float:left;background:url(../images/ajaxcart_bot.png) no-repeat;margin-bottom:10px;}
		.shoppingcart_box .shopping_bag{float:left;width:166px;margin:0;font-size:10px;text-align:left;border:solid 2px #afac28;border-width:0 2px 0 2px;padding:0 4px 0 4px;}
		.shoppingcart_box .shopping_bag .product{border-bottom:dotted 1px #503a1d;padding:8px 0 8px 0;}
		.shoppingcart_box .shopping_bag .product span{color:#6c9421;}
	
/*Main column*/
#container .main_content .main_col{float:left;width:564px;height:auto;margin:0 10px 0 10px;text-align:left}
#container .main_content .main_col .prd_container{float:left;width:524px;height:auto;background:#fbfbfb;padding:20px;}
#container .main_content .main_col .main_content{float:left;width:544px;height:auto;background:#fbfbfb;padding:10px;}

	.main_col .product_box{float:left;width:544px;height:auto;text-align:left;padding:0 0 15px 0;border-bottom:solid 1px #503a1d;margin-bottom:15px;font-size:12px;}
	.main_col .product_box img{float:left;width:124px;margin:0 10px 0 0;border:solid 1px #e9e9e9;height:auto;max-height:300px;}
	.main_col .product_box .title{float:left;width:408px;}
	.main_col .product_box .title h2{float:left;font-weight:bold;font-size:14px;width:auto;text-transform:uppercase;color:#749f24;width:310px;}
	.main_col .product_box .title h3{float:left;font-weight:bold;font-size:12px;width:auto;text-transform:capitalize;color:#996500;}
	.main_col .product_box .title .price{float:right;font-weight:bold;font-size:14px;color:#9e632a;}
	.main_col .product_box .title .price b{text-decoration:line-through;font-size:12px;color:#d2ae8a}
	.main_col .product_box .content{float:left;width:408px;margin:10px 0 0 0;line-height:18px;}
	.main_col .product_box .content div{margin:0 0 5px 0;}
	
	.main_col .pagination{float:left;width:544px;text-align:center;}
	.main_col .pagination a{margin:0 5px 0 5px;text-decoration:underline;}
	.main_col .pagination a:hover{text-decoration:none;}
	.main_col .pagination a.text{font-size:11px;font-weight:bold;text-decoration:none;}
	.main_col .pagination a.active{font-weight:bold;color:#83ae00;text-decoration:none;}
	
	.main_col .category-path {vertical-align:middle;text-transform:capitalize;font-size:11px;font-weight:bold;}
	.main_col .category-path img {vertical-align:middle;}
	
	.main_col .main_content h2.title{text-transform:capitalize;font-weight:normal;font-size:20px;margin-bottom:10px;color:#7aa825;border-bottom:solid 1px #e2e2bc;padding:0 0 10px 0;}
/*Main column: END*/



	


