#container{width:100%;height:100%;margin:0 auto;float:left;display:table;}

#container .left_col{width:200px;height:100%;background:#2e2e2e;padding:20px 0 20px 0;text-align:left;vertical-align:top;}
	#container .left_col .box{width:200px;height:auto;float:left;margin-bottom:30px;}
	#container .left_col .box .title{width:190px;height:36px;float:left;}
		#container .left_col .box .title .title_bg{width:200px;height:36px;background:url(../images/left_title_bg.png) repeat-x;float:left;}
		#container .left_col .box .title .title_bg h2{font-weight:bold;text-transform:uppercase;color:#fff;padding:10px 0 0 20px;font-size:12px;float:left;}
		/*#container .left_col .box .title .title_border{width:10px;height:36px;background:url(../images/left_title_border.png) repeat-x;float:left;}*/
	#container .left_col .box .content{height:auto;padding:10px;color:#cdcdcd;float:left}
	#container .left_col .box .nopadding{padding:0;}
	#container .left_col .box .content #sidebar_menu{float:left;width:200px;margin:0;padding:0;list-style-type:none;}
		#sidebar_menu li{width:200px;height:auto;margin:0;padding:0;float:left;border-bottom:dashed 1px #414141;}
		#sidebar_menu li a{display:block;padding:8px 0 8px 20px;color:#cdcdcd;font-weight:bold;font-size:11px}
		#sidebar_menu li a:hover{color:#fff;background:#212121;}
		

#container .main_col{width:100%;padding:20px;vertical-align:top;background:#fbfbfb}
	#container .main_col .main_box{width:100%;float:left;margin-bottom:20px;}
	#container .main_col .main_box .title{padding-left:6px;background:url(../images/mainbox_title_left.png) no-repeat;}
	#container .main_col .main_box .title div{background:url(../images/mainbox_title_right.png) no-repeat top right;padding-right:6px;}
	#container .main_col .main_box .title div div{background:url(../images/mainbox_title_center.png) repeat-x;padding:0;height:40px;}
	#container .main_col .main_box .title div div h2{float:left;font:normal 16px "Trebuchet MS";text-transform:uppercase;color:#309f26;margin:8px 0 0 10px;}
	#container .main_col .main_box .title div div select{float:right;margin:0 5px 0 0;}
	#container .main_col .main_box .title div div .textbox{float:right;width:180px;}
	
	#container .main_col .main_box .content{border-top:none;background:#fff;border:solid 1px #cdcdcd;border-top:none;padding:10px;}
	#container .main_col .main_box .nopadding{padding:0;}
	
/*General Form*/
#container .main_col .main_box .content table.form td.nopadding{padding-top:0;}
#container .main_col .main_box .content table.form td{height:auto;text-align:left;padding:10px 0 10px 0;vertical-align:top;}
#container .main_col .main_box .content .field{height:36px;border-bottom:dotted 1px #c2c2c2;margin-bottom:10px;text-align:left;}
	#container .main_col .main_box .content .field .text{float:left;text-transform:capitalize;font-size:13px;width:140px;padding:5px;}
	#container .main_col .main_box .content .field .text2{float:left;text-transform:capitalize;font-size:13px;width:140px;padding:0 5px 0 5px;}
	#container .main_col .main_box .content .field .paddingtop{padding-top:10px;}
	#container .main_col .main_box .content .field .text span{color:red;}
	#container .main_col .main_box .content .field .control{float:left;width:auto;}
	#container .main_col .main_box .content .field .control label{margin-right:10px;text-transform:capitalize;}
	#container .main_col .main_box .content .field .control .notice{font-size:11px;margin-top:5px;float:left;color:#b3b3b3;}
	#container .main_col .main_box .content .field .control .error{font-size:11px;margin-top:5px;float:left;color:#ffcecf;}
	#container .main_col .main_box .content .field .control .btn_addnew, #container .main_col .main_box .content .field .control .btn_delete, #container .main_col .main_box .content .field .control .btn_reset, #container .main_col .main_box .content .field .control .btn_cancel, #container .main_col .main_box .content .field .control .btn_edit, #container .main_col .main_box .content .field .control .btn_addmore{margin:0 10px 0 0;float:left;}
	
	#container .main_col .main_box .content .field2{height:auto;border-bottom:dotted 1px #c2c2c2;text-align:left;}
	#container .main_col .main_box .content .field2 .item_title{float:left;width:100%;padding:10px 0 10px 0;background:#f5f5f5;}
		#container .main_col .main_box .content .field2 .item_title .width_35, #container .main_col .main_box .content .field2 .item_title .width_10, #container .main_col .main_box .content .field2 .item_title .width_15, #container .main_col .main_box .content .field2 .item_title .width_15_left, #container .main_col .main_box .content .field2 .item_title .width_25{padding:0;font-weight:bold;font-size:11px;}
	#container .main_col .main_box .content .field2 .item_text{float:left;width:100%;background:none;margin-bottom:8px;}
	#container .main_col .main_box .content .field2 .width_35{width:38%;float:left;text-indent:5px;}
	#container .main_col .main_box .content .field2 .width_10{width:10%;float:left;text-align:center;}
	#container .main_col .main_box .content .field2 .width_15{width:14%;float:left;text-align:center;}
	#container .main_col .main_box .content .field2 .width_25{width:25%;float:left;text-align:left;text-indent:5px;}
	#container .main_col .main_box .content .field2 .width_15_left{width:14%;float:left;text-align:left;}

	#container .main_col .main_box .content .field2 .price{float:right;width:auto;height:auto;margin:0 10px 2px 0;clear:both;}
	#container .main_col .main_box .content .field2 .price .text{width:auto;float:left;text-align:left;text-transform:capitalize;margin:0;}
	#container .main_col .main_box .content .field2 .value{width:120px;float:left;font-weight:bold;margin:0;text-align:right;}
	
	#container .main_col .main_box .content .address .textbox{height:16px;padding:2px 0 2px 0;margin-bottom:4px;}
	
/*Dashboard*/
#dashboard{}
#dashboard .function{display:block;float:left;height:auto;width:64px;margin:10px 20px 10px 0;border:solid 1px #efefef;padding:4px 8px 4px 8px;text-align:center;text-transform:capitalize;font-size:10px;text-transform:uppercase;font-weight:bold;color:#a8a8a8;}
#dashboard .img{float:left;margin:0 0 5px 0;width:64px;height:64px;}
#dashboard .function:hover{cursor:pointer;border-right:solid 1px #d0d0d0;border-bottom:solid 1px #d0d0d0;color:#828282;}

#icon_dashboard_home{background:url(../images/icon_dashboard_home.png) no-repeat;}
#icon_dashboard_product{background:url(../images/icon_dashboard_product.png) no-repeat;}
#icon_dashboard_brand{background:url(../images/icon_dashboard_brand.png) no-repeat;}
#icon_dashboard_category{background:url(../images/icon_dashboard_category.png) no-repeat;}
#icon_dashboard_supplier{background:url(../images/icon_dashboard_supplier.png) no-repeat;}
#icon_dashboard_user{background:url(../images/icon_dashboard_user.png) no-repeat;}
#icon_dashboard_order{background:url(../images/icon_dashboard_order.png) no-repeat;}
#icon_dashboard_coupon{background:url(../images/icon_dashboard_coupon.png) no-repeat;}
#icon_dashboard_discount{background:url(../images/icon_dashboard_discount.png) no-repeat;}
#icon_dashboard_messages{background:url(../images/icon_dashboard_messages.png) no-repeat;}
#dashboard .function:hover .img{cursor:pointer;background-position:center -64px;}
	
	
		
	