.viewcart_container{float:left;width:544px;height:auto;text-align:left;margin:0;}

.viewcart_container .cart_step{float:left;width:544px;height:auto;padding:0;font-size:11px;font-weight:bold;text-transform:capitalize;text-align:left;}
.viewcart_container .cart_step ul{margin:0;padding:0;list-style-type:none;float:left;color:#CCC;}
.viewcart_container .cart_step ul li{display:inline;margin-right:10px;float:left;}
.viewcart_container .cart_step ul li img{float:left;margin:2px 0 0 0;}
.viewcart_container .cart_step ul li.active{color:#503a1d}

.viewcart_container .cart_title{float:left;width:544px;height:auto;padding:5px 0 5px 0;background:#e2e2bc;font-size:12px;font-weight:bold;text-transform:capitalize;text-align:left;}
.viewcart_container .cart_title .prd_item{float:left;width:320px;height:auto;padding:0 0 0 10px;margin:0;}
.viewcart_container .cart_title .qty{float:left;width:60px;height:auto;margin:0;}
.viewcart_container .cart_title .price{float:left;width:90px;height:auto;margin:0;text-align:center;}
.viewcart_container .cart_title .remove{float:left;width:50px;height:auto;margin:0;text-align:center;}

.viewcart_container .cart_item{float:left;width:544px;height:auto;padding:5px 0 5px 0;font-size:12px;text-transform:capitalize;text-align:center;border-bottom:1px solid #e2e2bc}
.viewcart_container .cart_item .prd_item{float:left;width:320px;height:auto;padding:0 0 0 10px;margin:0;text-align:left;}
.viewcart_container .cart_item .qty{float:left;width:60px;height:auto;margin:0;}
	.viewcart_container .cart_item .qty input.textbox{float:left;width:25px;margin:0 5px 0 0;text-align:center;}
	.viewcart_container .cart_item .qty select{float:left;width:25px;margin:0 5px 0 0;text-align:center;}
.viewcart_container .cart_item .price{float:left;width:90px;height:auto;margin:0;font-weight:bold;}
.viewcart_container .cart_item .remove{float:left;width:50px;height:auto;margin:0;font-weight:bold;}

.viewcart_container .totalprice{float:left;width:544px;height:auto;padding:5px 0 5px 0;font-size:12px;text-transform:capitalize;margin:20px 0 0 0;}
.viewcart_container .totalprice .couponcode{float:left;color:#503a1d;font-size:12px;font-weight:bold;margin:0;clear:right;}
.viewcart_container .totalprice .couponcode .textbox{float:none;margin:0 5px 0 0;}
.viewcart_container .totalprice .couponcode .button{float:none;margin:0;}
.viewcart_container .totalprice .couponcode .code_error{font-size:11px;color:red;float:none;margin:0 0 -5px 0;text-transform:none;text-align:left;}
.viewcart_container .totalprice .couponcode .code_notice{font-size:11px;color:blue;float:none;margin:0 0 -5px 0;text-transform:none;text-align:left;}
.viewcart_container .totalprice .price{float:right;width:auto;height:auto;margin:0 0 2px 0;clear:right;font-size:13px;}
	.viewcart_container .totalprice .price .text{width:auto;float:left;text-align:left;text-transform:capitalize;margin:0;}
	.viewcart_container .totalprice .price .value{width:80px;float:left;font-weight:bold;margin:0;text-align:right;}

.viewcart_container .button_container{float:left;width:544px;height:auto;padding:5px 0 5px 0;font-size:12px;text-transform:capitalize;margin:10px 0 0 0;}
.viewcart_container .button_container .button{width:auto;height:auto;padding:3px;font-size:12px;font-family:arial;background:#e45a00;border:solid 1px #d9d9d9;}
.viewcart_container .button_container .button:hover{cursor:pointer;background:#83b32a;background:#ef5e00}

.viewcart_container .cart_review{float:right;width:544px;height:auto;padding:10px 0 5px 0;font-size:12px;text-transform:capitalize;text-align:right;}
.viewcart_container .cart_review .price{float:right;width:auto;height:auto;margin:0 0 4px 0;clear:both;}
	.viewcart_container .cart_review .price .text{width:auto;float:left;text-align:left;text-transform:capitalize;margin:0;}
	.viewcart_container .cart_review .price .value{width:100px;float:left;font-weight:bold;margin:0;}
	.viewcart_container .cart_review .price .button{margin:10px 0 0 5px;}
	
.order_confirmation{float:left;width:544px;height:auto;text-align:left;margin:0;}
	.order_confirmation .field{float:left;clear:both;margin:0;}
	.order_confirmation .field .text{float:left;width:150px;text-transform:capitalize;margin:0;}
	.order_confirmation .field .value{float:left;font-weight:bold;margin:0;}
	