/*Main column*/
	.main_col .inside_box{float:left;width:524px;height:auto;text-align:left;margin-bottom:20px;}
	.main_col .inside_box table{border:solid 1px #dadada;}
	.main_col .inside_box table td{border:solid 1px #dadada;}
	.main_col .inside_box table .table_title{text-transform:uppercase;color:#fff;background:#7aa825;padding:5px;font-size:12px;}
	.main_col .inside_box table .left{text-align:right;padding-right:20px;width:140px;text-transform:capitalize;}
	.main_col .inside_box table .right .textbox{width:180px;}
	
	.main_col .inside_box div{margin-bottom:15px;}
	
/*Main column: END*/
#container .main_content .main_col .error{float:left;width:544px;height:auto;text-align:left;margin-bottom:10px;background:#ffcecf;color:#655254;padding:5px 10px 5px 10px;}
#container .main_content .main_col .notice{float:left;width:544px;height:auto;text-align:left;margin-bottom:10px;background:#fffbcc;color:#676455;padding:5px 10px 5px 10px;}
	
	
	
	
		
	