/*Main column*/
	.main_col .inside_box{float:left;width:544px;height:auto;text-align:left;margin-bottom:20px;}
	
	.main_col .inside_box table{border:solid 1px #dadada;}
	.main_col .inside_box table tr.noborder{border:solid 1px #dadada;border-width:0 1px 0 1px;width:50%}
	.main_col .inside_box table tr.noborder td{border:none;}
	.main_col .inside_box table td{border:solid 1px #dadada;}
	.main_col .inside_box table .table_title{text-transform:uppercase;color:#fff;background:#7aa825;padding:5px;font-size:12px;width:50%}
	.main_col .inside_box table .left{text-align:right;padding-right:20px;width:140px;text-transform:capitalize;}
	.main_col .inside_box table .right .textbox{width:180px;}
	
	.main_col .inside_box div{margin-bottom:15px;line-height:18px;}
	
	.main_col .inside_box div ol{list-style-type:upper-roman;}
	.main_col .inside_box div ol ol{list-style-type:decimal;margin-bottom:10px;font-weight:bold;}
	.main_col .inside_box div ol ol ul{list-style-type:lower-latin;margin-bottom:10px;font-weight:normal;}
	.main_col .inside_box h2{text-transform:capitalize;font-weight:normal;font-size:20px;margin-bottom:10px;color:#7aa825;}
	
/*Main column: END*/
#container .main_content .main_col .error{float:left;width:544px;height:auto;text-align:left;margin-bottom:10px;background:#ffcecf;color:#655254;padding:5px 10px 5px 10px;}
#container .main_content .main_col .notice{float:left;width:544px;height:auto;text-align:left;margin-bottom:10px;background:#fffbcc;color:#676455;padding:5px 10px 5px 10px;}


	
	
	
	
		
	