body{font-family:Arial;font-size:13px;margin:0 auto;background:#749f24;color:#503a1d;}
#container{width:960px;height:auto;margin:0 auto;}

h1,h2,h3,p,i{margin:0;padding:0;font-weight:normal;text-transform:capitalize;}
img{border:0;}
a, input {outline:none;} 

a:link, a:visited{text-decoration:none;color:#503a1d}
a:hover{color:#9f743c}

a.mail, a.mail:visited{text-decoration:none;color:#0044dd}
a.mail:hover{color:#0034aa}

.name{font-weight:normal;color:#83ae00;}

.newsletter_error{float:left;font-size:11px;color:red;margin:3px 0 0 0;}

a.btn_cart{display:block;width:72px;height:21px;background:url(../images/btn_cart.png) no-repeat;color:#fff;padding:13px 0 0 28px;text-align:left;font-size:12px;margin:0 0 10px 0;}
a.btn_cart:hover{color:#e8e8e8;}

a.btn_addtocart{display:block;width:66px;height:21px;background:url(../images/btn_addtocart.png) no-repeat;color:#fff;padding:11px 0 0 34px;text-align:left;font-size:12px;margin-top:-12px;}
a.btn_addtocart:hover{color:#e8e8e8;}

.button{background:#749f24;border:solid 1px #749f24;width:auto;height:auto;padding:1px;color:#fff;float:right;font-size:11px;float:left;margin:0;text-transform:capitalize;}
.button:hover{cursor:pointer;background:#83b32a;}
.textbox{color:#7c5a2c;font-size:11px;height:14px;border:solid 1px #9f9f9f;background:#fff;padding-top:2px;width:100px;margin:10px 5px 0 0;float:left;}

.btn_refresh{height:16px;width:16px;background:url(../images/btn_refresh.png) no-repeat;float:left;border:none;margin:2px 0 0 0;}
.btn_delete{height:16px;width:16px;background:url(../images/btn_delete.png) no-repeat;border:none;margin:2px 0 0 0;}
.btn_refresh:hover, .btn_delete:hover{cursor:pointer;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;cursor:pointer;}

