<?xml version="1.0" encoding="utf-8"?>
<menu>
	<menuNode Title="Product &amp; Category">
		<menuNode ServiceParameter="admincp.ProductForm" Title="Add Product" />
		<menuNode ServiceParameter="admincp.ProductManager" Title="Product List" />
		<menuNode ServiceParameter="admincp.CategoryForm" Title="Add Category" />
		<menuNode ServiceParameter="admincp.CategoryManager" Title="Category List" />
	</menuNode>
	<menuNode Title="Supplier &amp; Brand">
		<menuNode ServiceParameter="admincp.ManufacturerForm" Title="Add Supplier" />
		<menuNode ServiceParameter="admincp.ManufacturerManager" Title="Supplier List" />
		<menuNode ServiceParameter="admincp.BrandForm" Title="Add Brand" />
		<menuNode ServiceParameter="admincp.BrandManager" Title="Brand List" />
	</menuNode>
	<!--menuNode Title="Coupon &amp; Discount">
		<menuNode ServiceParameter="admincp.CouponForm" Title="Add Coupon" />
		<menuNode ServiceParameter="admincp.CouponManager" Title="Coupon List" />
		<menuNode ServiceParameter="admincp.DiscountForm" Title="Add Discount" />
		<menuNode ServiceParameter="admincp.DiscountManager" Title="Discount List" />
		<menuNode ServiceParameter="admincp.ApplyDiscount" Title="Apply Discount" />
	</menuNode-->
	<menuNode Title="Shipping &amp; Payment Method">
		<menuNode ServiceParameter="admincp.ShippingMethodForm" Title="Add Shipping Method" />
		<menuNode ServiceParameter="admincp.ShippingMethodManager" Title="Shipping Method List" />
		<menuNode ServiceParameter="admincp.PaymentMethodForm" Title="Add Payment Method" />
		<menuNode ServiceParameter="admincp.PaymentMethodManager" Title="Payment Method List" />
	</menuNode>
	<menuNode Title="User">
		<menuNode ServiceParameter="admincp.UserForm" Title="Add User" />
		<menuNode ServiceParameter="admincp.UserManager" Title="User List" />
		<!--menuNode ServiceParameter="admincp.UserAddressForm" Title="Add User Address" />
		<menuNode ServiceParameter="admincp.UserAddressManager" Title="User Address List" />
		<menuNode ServiceParameter="admincp.UserTypeForm" Title="Add User Type" />
		<menuNode ServiceParameter="admincp.UserTypeManager" Title="User Type List" /-->
		<menuNode ServiceParameter="admincp.MailingListManager" Title="Mailing List" />
	</menuNode>
	<menuNode Title="Order">
		<menuNode ServiceParameter="admincp.OrderManager" Title="Order List" />
		<menuNode ServiceParameter="admincp.OrderStatusForm" Title="Add Order Status" />
		<menuNode ServiceParameter="admincp.OrderStatusManager" Title="Order Status List" />
	</menuNode>
</menu>