<?xml version="1.0" encoding="utf-8"?>
<menu>
	<menuNode ServiceParameter="admincp.ProductManager" Title="Product">
		<menuNode ServiceParameter="admincp.ProductForm" Title="Add Product" />
		<menuNode ServiceParameter="admincp.ProductManager" Title="Product List" />
	</menuNode>
	<menuNode ServiceParameter="admincp.BrandManager" Title="Brand">
		<menuNode ServiceParameter="admincp.BrandForm" Title="Add Brand" />
		<menuNode ServiceParameter="admincp.BrandManager" Title="Brand List" />
	</menuNode>
	<menuNode ServiceParameter="admincp.ManufacturerManager" Title="Supplier">
		<menuNode ServiceParameter="admincp.ManufacturerForm" Title="Add Supplier" />
		<menuNode ServiceParameter="admincp.ManufacturerManager" Title="Supplier List" />
	</menuNode>
	<menuNode ServiceParameter="admincp.CategoryManager" Title="Category">
		<menuNode ServiceParameter="admincp.CategoryForm" Title="Add Category" />
		<menuNode ServiceParameter="admincp.CategoryManager" Title="Category List" />
	</menuNode>
	<menuNode ServiceParameter="admincp.CouponManager" Title="Coupon">
		<menuNode ServiceParameter="admincp.CouponForm" Title="Add Coupon" />
		<menuNode ServiceParameter="admincp.CouponManager" Title="Coupon List" />
	</menuNode>
	<menuNode ServiceParameter="admincp.DiscountManager" Title="Discount">
		<menuNode ServiceParameter="admincp.DiscountForm" Title="Add Discount" />
		<menuNode ServiceParameter="admincp.DiscountManager" Title="Discount List" />
	</menuNode>
	<menuNode ServiceParameter="admincp.ShippingMethodManager" Title="Shipping Method">
		<menuNode ServiceParameter="admincp.ShippingMethodForm" Title="Add Shipping Method" />
		<menuNode ServiceParameter="admincp.ShippingMethodManager" Title="Shipping Method List" />
	</menuNode>
	<menuNode ServiceParameter="admincp.PaymentMethodManager" Title="Payment Method">
		<menuNode ServiceParameter="admincp.PaymentMethodForm" Title="Add Payment Method" />
		<menuNode ServiceParameter="admincp.PaymentMethodManager" Title="Payment Method List" />
	</menuNode>
	<menuNode ServiceParameter="admincp.UserManager" Title="User">
		<menuNode ServiceParameter="admincp.UserForm" Title="Add User" />
		<menuNode ServiceParameter="admincp.UserManager" Title="User List" />
	</menuNode>
	<menuNode ServiceParameter="admincp.UserTypeManager" Title="User Type">
		<menuNode ServiceParameter="admincp.UserTypeForm" Title="Add User Type" />
		<menuNode ServiceParameter="admincp.UserTypeManager" Title="User Type List" />
	</menuNode>
</menu>